body{
    overflow: hidden; 
    margin: 0;
    padding: 0;
    color: #348cb2;
    font-family: 'Lobster', cursive;
    font-size: 8px;
    font-weight: 400 ;
    line-height: 1 ;
}
h1 {
    font-size: 80px;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 50px;
    margin: 0 0;
    opacity: 0.75;
}

p1 {
    font-size: 36px;
    margin: 0 0;
    opacity: 0.6;
}

a{
    color: #348cb2;
    outline: 0;
    text-decoration: none;
}
.wrapper {
   width: 100vw;
   height: 100vh;
   display: block;
   align-items: center;
   justify-content: center;
   position: relative;
}
.logo {
    text-align: center;
    justify-content: center;
    position: relative;
    left: 600px;
    top: 150px;
}
.bg {
   background: url('daro.jpg');
   background-repeat: no-repeat;
   height: 100%; /* Dopisane */
   width: 100%;
   position: absolute; /* Nowe */
   
}
.middle-box {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 150px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    border: solid 2px #348cb2;
    width: 72px;
    height: 72px;
    margin: 20px 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.175)
}

.nav-item a {
    font-size: 28px;
}

